@font-face {
  font-family: "Overpass";
  font-display: swap;
  src: url("../fonts/Overpass-Bold.woff") format("woff"), url("../fonts/Overpass-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  font-display: swap;
  src: url("../fonts/Overpass-ExtraBold.woff") format("woff"), url("../fonts/Overpass-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  font-display: swap;
  src: url("../fonts/Overpass-Regular.woff") format("woff"), url("../fonts/Overpass-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 100%;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h2,
h3,
h4 {
  line-height: 90px;
  color: #111;
  font-family: Overpass;
  font-size: 50px;
  letter-spacing: -1.5px;
  max-width: 784px;
  line-height: 60px;
  margin-bottom: 50px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.f-screen {
  min-height: 100%;
  background: #ebeafa;
}

.f-screen__bg {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #ebeafa;
  position: relative;
}

.f-screen__bg:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -o-radial-gradient(80px 40px, circle, #ede0e2 10%, #ebeafa 20%, rgba(255, 255, 255, 0.06) 30%), -o-radial-gradient(150px 120px, circle, #d9e9f5 10%, rgba(255, 255, 255, 0.06) 50%), -o-radial-gradient(top right, circle, #e5d4f7 10%, rgba(255, 255, 255, 0.06) 20%), -o-radial-gradient(60% 95%, circle, #eed9ec 10%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(90% 95%, circle, #eed9ec 10%, rgba(255, 255, 255, 0.06) 15%);
  background: radial-gradient(circle at 80px 40px, #ede0e2 10%, #ebeafa 20%, rgba(255, 255, 255, 0.06) 30%), radial-gradient(circle at 150px 120px, #d9e9f5 10%, rgba(255, 255, 255, 0.06) 50%), radial-gradient(circle at top right, #e5d4f7 10%, rgba(255, 255, 255, 0.06) 20%), radial-gradient(circle at 60% 95%, #eed9ec 10%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 90% 95%, #eed9ec 10%, rgba(255, 255, 255, 0.06) 15%);
}

.f-screen__cover {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.f-screen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 150px;
  max-width: 541px;
  position: relative;
  z-index: 1;
}

.f-screen__body h1 {
  font-family: Overpass;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2.25px;
  color: #111;
  line-height: 55px;
}

.f-screen__text {
  font-size: 16px;
  color: #111;
  line-height: 24px;
  margin-bottom: 40px;
}

.button__h {
  width: 241px;
  height: 72px;
  -webkit-box-shadow: 0 10px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0 10px 18px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  background-color: #c04ae2;
  color: #fff;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.button__h:hover {
  background-color: #c95ee7;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__container {
  position: relative;
  line-height: 50px;
}

.header__body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #eee;
  opacity: 0;
  visibility: hidden;
}

.header__body.active {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  padding-bottom: 40px;
}

.header__logo {
  display: inline-block;
  line-height: 104px;
  position: absolute;
  z-index: 1;
}

.header__logo img {
  vertical-align: middle;
}

.header__button {
  margin: 0 30px;
}

.header__burger {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 20px;
}

.header__burger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #111;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__burger span:before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 8px;
  background: #111;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__burger span:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  bottom: 0px;
  background: #111;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__burger span.active {
  position: absolute;
  top: 4px;
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
}

.header__burger span.active:before {
  display: none;
}

.header__burger span.active:after {
  -webkit-transform: rotate(80deg);
      -ms-transform: rotate(80deg);
          transform: rotate(80deg);
}

.menu__body {
  margin-top: 60px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 -17px;
}

.menu__list li a {
  display: block;
  padding: 5px;
}

.menu__list li a:link,
.menu__list li a:active,
.menu__list li a:visited {
  color: #111;
  font-family: Overpass;
  font-size: 20px;
}

.menu__list li a:hover {
  color: #c04ae2;
}

.button__top {
  display: inline-block;
  width: 181px;
  height: 48px;
  border-radius: 7px;
  border: 2px solid #c04ae2;
  font-family: Overpass;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.45px;
  position: relative;
  text-align: center;
  line-height: 48px;
}

.button__top span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #111;
}

.button__top span:hover {
  color: #fff;
}

.button__top:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c04ae2;
  color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button__top:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  color: #fff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -9px;
}

.social__icon {
  display: block;
  padding: 9px;
}

.fab {
  font-size: 21px;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-facebook-f:hover {
  color: #5b88eb;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-twitter:hover {
  color: #3fadf1;
}

.fa-youtube {
  color: #ff1e00;
}

.fa-youtube:hover {
  color: #f75b47;
}

.fa-instagram {
  color: #de5444;
}

.fa-instagram:hover {
  color: #db766b;
}

.control-business {
  position: relative;
  overflow: hidden;
}

.control-business__gradient {
  position: absolute;
  width: 80%;
  height: 40%;
  top: 42.5%;
  left: 0;
  z-index: -2;
  background: url("../img/t_24.png") 2% 39% no-repeat, url("../img/t_23.png") 3% 40% no-repeat, -o-linear-gradient(315deg, white 20%, #f7f7fa 38%, #fdfdfd 17%);
  background: url("../img/t_24.png") 2% 39% no-repeat, url("../img/t_23.png") 3% 40% no-repeat, linear-gradient(135deg, white 20%, #f7f7fa 38%, #fdfdfd 17%);
}

.control-business__gradient_2 {
  position: absolute;
  width: 80%;
  height: 30%;
  top: 40%;
  right: -30%;
  z-index: -1;
  opacity: 0.6;
  background: -o-repeating-linear-gradient(45deg, #dbebfc 500px, #dbebfc 100px, white 900px, white 800px);
  background: repeating-linear-gradient(45deg, #dbebfc 500px, #dbebfc 100px, white 900px, white 800px);
}

.control-business__gradient_2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 700px solid #fff;
  border-right: 700px solid transparent;
}

.control-business__cover {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/t_25.png") 90% 90% no-repeat, url("../img/t_19.png") 91% 2% no-repeat, url("../img/t_18.png") 90% 2% no-repeat, url("../img/t_20.png") 3% 10% no-repeat, url("../img/t_21.png") 92% 30% no-repeat, -o-radial-gradient(200px 550px, circle, #e9fcfc 2%, rgba(255, 255, 255, 0.06) 10%), -o-radial-gradient(right top, circle, #fff6ee 2%, rgba(255, 255, 255, 0.06) 10%), -o-radial-gradient(center 40%, circle, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%), -o-radial-gradient(center 60%, circle, #e9fcfc 5%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(25% 90%, circle, #e9fcfc 5%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(5% 90%, circle, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%), -o-radial-gradient(90% 90%, circle, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%);
  background: url("../img/t_25.png") 90% 90% no-repeat, url("../img/t_19.png") 91% 2% no-repeat, url("../img/t_18.png") 90% 2% no-repeat, url("../img/t_20.png") 3% 10% no-repeat, url("../img/t_21.png") 92% 30% no-repeat, radial-gradient(circle at 200px 550px, #e9fcfc 2%, rgba(255, 255, 255, 0.06) 10%), radial-gradient(circle at right top, #fff6ee 2%, rgba(255, 255, 255, 0.06) 10%), radial-gradient(circle at center 40%, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%), radial-gradient(circle at center 60%, #e9fcfc 5%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 25% 90%, #e9fcfc 5%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 5% 90%, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%), radial-gradient(circle at 90% 90%, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%);
}

.control-business__content {
  width: 100%;
}

.control-business__body {
  width: 100%;
}

.control-business__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.single {
  margin-bottom: 100px;
}

.single h2 {
  text-align: center;
}

.single__columns {
  display: block;
  width: 100%;
}

.caption {
  color: #c04ae2;
  font-size: 24px;
  letter-spacing: 4.8px;
  line-height: 72px;
  text-transform: uppercase;
}

.column__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 18px;
  margin-bottom: 30px;
  padding: 90px 48px;
}

.column__item_r {
  border: 1px solid #fcd7df;
}

.column__item_g {
  border: 1px solid #c9f3e2;
}

.column__item_o {
  border: 1px solid #f2d5ba;
}

.item__image {
  margin-bottom: 50px;
}

.item__about {
  margin-bottom: 50px;
  color: #111;
  font-size: 30px;
  font-weight: 700;
  font-family: Overpass;
  line-height: 42px;
  letter-spacing: -0.75px;
  text-align: center;
  width: 100%;
}

.item__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  letter-spacing: -0.75px;
  width: 100%;
}

.fa-anchor {
  color: #fe6686;
  font-size: 84px;
}

.fa-file-archive {
  color: #54d6a1;
  font-size: 84px;
}

.fa-user-check {
  color: #f2d5ba;
  font-size: 84px;
}

.about-team {
  margin-bottom: 100px;
}

.about-team__body {
  width: 100%;
}

.about-team__content {
  max-width: 468px;
}

.about-team__content h3 {
  color: #222;
  font-family: Overpass;
}

.about-team__text {
  margin-bottom: 50px;
}

.about-team__text p {
  font-size: 24px;
  color: #5e5858;
  text-align: left;
  line-height: 36px;
  margin-bottom: 50px;
}

.about-team__text p:last-child {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
}

.button-main__more {
  width: 205px;
  height: 60px;
  border-radius: 7px;
  -webkit-box-shadow: 0 10px 18px rgba(0, 0, 0, 0);
          box-shadow: 0 10px 18px rgba(0, 0, 0, 0);
  background-color: #c04ae2;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;
}

.service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.service__body h3 {
  text-align: right;
}

.service__caption {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.service h3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.support {
  display: block;
}

.support__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
  margin: 15px;
}

.support__item_2 {
  margin-top: 0px;
}

.support__item_3 {
  margin-top: 0px;
}

.support__item_4 {
  margin-top: 20px;
}

.support__item_5 {
  margin-top: 0px;
}

.support__border {
  -webkit-box-shadow: 0 24px 72px rgba(7, 28, 75, 0.07);
          box-shadow: 0 24px 72px rgba(7, 28, 75, 0.07);
  border-radius: 25px;
  background-color: #fff;
  padding: 72px 43px;
  text-align: center;
  width: 100%;
}

.support__icon {
  text-align: center;
  margin-bottom: 46px;
}

.support__icon img {
  width: 84px;
  height: 84px;
}

.support__text {
  color: #222;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.support__arrow {
  font-size: 35px;
  color: #c04ae2;
}

.support__about {
  color: #111;
  font-size: 30px;
  font-family: Overpass;
  font-weight: 700;
  letter-spacing: -0.75px;
  line-height: 42px;
}

.projects {
  background: -o-linear-gradient(315deg, #e8ecef -4%, #ffffff -3%, #ffffff -2%, #f2f2f2 -2%, #e3e9f4 -1%, #e8ecef 0%, #e8ecef 0%, #e3e9f4 0%, #e8ecef 0%, #ffffff 0%, #e8ecef 0%, #f2f2f2 0%, #ffffff 1%, #e0e8f3 15%, #e8ecef 15%, #e0e8f3 15%, #e0e8f3 15%, #e0e8f3 15%, #e0e8f3 15%, #e0e8f3 15%, #f1f5fa 38%, #f1f5fa 45%, #d0deef 45%, #dee7f4 64%, #dee7f4 64%, #dee7f4 64%, #dee7f4 64%, #e0e7f1 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 66%, #e6e9f2 66%, #e6e9f2 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #e8ecef 67%, #ffffff 100%);
  background: linear-gradient(135deg, #e8ecef -4%, #ffffff -3%, #ffffff -2%, #f2f2f2 -2%, #e3e9f4 -1%, #e8ecef 0%, #e8ecef 0%, #e3e9f4 0%, #e8ecef 0%, #ffffff 0%, #e8ecef 0%, #f2f2f2 0%, #ffffff 1%, #e0e8f3 15%, #e8ecef 15%, #e0e8f3 15%, #e0e8f3 15%, #e0e8f3 15%, #e0e8f3 15%, #e0e8f3 15%, #f1f5fa 38%, #f1f5fa 45%, #d0deef 45%, #dee7f4 64%, #dee7f4 64%, #dee7f4 64%, #dee7f4 64%, #e0e7f1 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 66%, #e6e9f2 66%, #e6e9f2 66%, #dee7f4 66%, #dee7f4 66%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #dee7f4 67%, #e8ecef 67%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecef', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.projects__cover {
  padding: 100px 0;
  background: url("../img/vector__2.png") 13% 3% no-repeat, url("../img/vector_1.png") 4% 4% no-repeat, url("../img/vector_4.png") 83% 94% no-repeat, url("../img/vector_3.png") 90% 98% no-repeat, url("../img/h_4.svg") 90% 40% no-repeat, url("../img/vector__2.png") 3% 65% no-repeat, -o-radial-gradient(90% 90%, circle, #fff2f5 2%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(8% 8%, circle, #fff2f5 2%, rgba(255, 255, 255, 0.06) 15%);
  background: url("../img/vector__2.png") 13% 3% no-repeat, url("../img/vector_1.png") 4% 4% no-repeat, url("../img/vector_4.png") 83% 94% no-repeat, url("../img/vector_3.png") 90% 98% no-repeat, url("../img/h_4.svg") 90% 40% no-repeat, url("../img/vector__2.png") 3% 65% no-repeat, radial-gradient(circle at 90% 90%, #fff2f5 2%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 8% 8%, #fff2f5 2%, rgba(255, 255, 255, 0.06) 15%);
}

.projects__body {
  width: 100%;
  margin: 0 auto;
}

.projects__subscribe {
  margin-bottom: 120px;
}

.projects__name {
  text-align: center;
}

.projects__rows {
  width: 100%;
}

.projects__button {
  text-align: center;
}

.projects__button button {
  display: inline-block;
  background: none;
  width: 114px;
  font-family: Overpass;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.45px;
  border-bottom: 2px solid #c04ae2;
}

.projects h3 {
  text-align: center;
  margin: 0 auto;
}

.problem__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 140px;
  width: 100%;
}

.problem__item:last-child {
  margin-bottom: 80px;
}

.problem__image_r {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.problem__subscribe {
  padding-left: 0px;
  max-width: 604px;
}

.problem__subscribe_r {
  padding-right: 0px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.problem__name {
  font-family: Overpass;
  font-size: 20px;
  margin-bottom: 30px;
}

.problem__name_r {
  color: #fe6686;
}

.problem__name_g {
  color: #c9f3e2;
}

.problem__name_o {
  color: #f2d5ba;
}

.problem__about {
  font-family: Overpass;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -1.85px;
  color: #111;
  margin-bottom: 40px;
}

.problem__text {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 32px;
}

.problem__button {
  text-align: center;
}

.problem__button .button__top {
  margin: 0;
}

.image__content {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  text-align: center;
}

.image__content img {
  width: 70%;
}

.image__content_annie::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: -50px;
  left: 0;
  border-radius: 20px;
  border: 7px solid #fe6686;
  z-index: -1;
}

.image__content_orange::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: -50px;
  right: 0;
  border-radius: 20px;
  border: 7px solid #c9f3e2;
}

.image__content_phone::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: -50px;
  left: 0;
  border-radius: 20px;
  border: 7px solid #f2d5ba;
}

.main__our-team {
  background: -o-radial-gradient(8% 20%, circle, #faf2fc 2%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(90% 20%, circle, #dcf7ed 2%, rgba(255, 255, 255, 0.06) 15%);
  background: radial-gradient(circle at 8% 20%, #faf2fc 2%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 90% 20%, #dcf7ed 2%, rgba(255, 255, 255, 0.06) 15%);
}

.our-team {
  position: relative;
  overflow: hidden;
}

.our-team__bg {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  height: 45%;
  background: #444;
  -webkit-transform: skew(0deg, 8deg);
      -ms-transform: skew(0deg, 8deg);
          transform: skew(0deg, 8deg);
  z-index: -1;
  background: -o-linear-gradient(315deg, white 16%, #c8d7eb 38%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 72%, #bad0ef 72%, #bad0ef 72%, #bad0ef 75%, #bad0ef 75%, #b1cbed 75%, #7d9dc6 100%);
  background: linear-gradient(135deg, white 16%, #c8d7eb 38%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 72%, #bad0ef 72%, #bad0ef 72%, #bad0ef 75%, #bad0ef 75%, #b1cbed 75%, #7d9dc6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7d9dc6',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.our-team__cover {
  padding: 100px 0 100px 0;
  background: url("../img/t_27.png") 5% 5% no-repeat, url("../img/t_28.png") 2% 27% no-repeat, url("../img/t_29.png") 99% 45% no-repeat, url("../img/t_31.png") 2% 55% no-repeat, url("../img/t_30.png") 2% 56% no-repeat;
}

.our-team__head {
  text-align: center;
}

.our-team__head h3 {
  margin: 0 auto 100px;
}

.our-team__managers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 108px;
}

.our-team__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.managers__unit {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.managers__unit_down {
  margin-top: 40px;
  margin-bottom: 40px;
}

.managers__unit_down:last-child {
  margin-bottom: 0;
}

.unit__image {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.unit__image:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.unit__name {
  color: #111;
  font-size: 24px;
  font-weight: 700;
  font-family: Overpass;
  line-height: 48px;
}

.unit__profession {
  color: #adb0ba;
  font-size: 18px;
  line-height: 36px;
}

.testimonial__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.testimonial__left {
  max-width: 556px;
  margin-bottom: 50px;
}

.testimonial__caption {
  letter-spacing: -1.5px;
  position: relative;
}

.testimonial__about {
  color: #111;
  font-size: 20px;
  margin-bottom: 68px;
}

.testimonial__author {
  font-size: 20px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  text-align: right;
  max-width: 468px;
}

.testimonial__image img {
  width: 100%;
}

.testimonial__dotts {
  position: relative;
}

.testimonial__dotts span {
  display: block;
  width: 38px;
  height: 12px;
  background: #c04ae2;
  border-radius: 5px;
}

.testimonial__dotts:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 12px;
  height: 12px;
  background: #c04ae2;
  border-radius: 5px;
}

.testimonial__dotts:after {
  content: "";
  position: absolute;
  top: 0;
  left: 72px;
  width: 12px;
  height: 12px;
  background: #c04ae2;
  border-radius: 5px;
}

.author {
  position: relative;
  margin-bottom: 54px;
}

.author__name {
  font-family: Overpass;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  padding: 0 10px 0 40px;
}

.author__profession {
  font-size: 18px;
  line-height: 48px;
  color: #adb0ba;
  padding: 0 10px;
}

.author::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 2px;
  background: #332e98;
}

.contact {
  background: url("../img/t_32.png") 1% 13% no-repeat, url("../img/t_28.png") 3% 15% no-repeat, -o-radial-gradient(15% 25%, circle, #fff2f5 2%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(15% 98%, circle, #d9e9f5 2%, rgba(255, 255, 255, 0.06) 15%);
  background: url("../img/t_32.png") 1% 13% no-repeat, url("../img/t_28.png") 3% 15% no-repeat, radial-gradient(circle at 15% 25%, #fff2f5 2%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 15% 98%, #d9e9f5 2%, rgba(255, 255, 255, 0.06) 15%);
  position: relative;
  overflow: hidden;
}

.contact:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 90%;
  width: 53px;
  height: 53px;
  background: url("../img/t_38.png") no-repeat;
}

.contact__gradient {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 82%;
  background: url("../img/t_33.png") 50% 80% no-repeat, url("../img/t_26.png") 48% 73% no-repeat, url("../img/t_39.png") 50% 72% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#f8f8f9), color-stop(0%, #2989d8), color-stop(0%, #edf3f7), color-stop(46%, #feffff));
  background: url("../img/t_33.png") 50% 80% no-repeat, url("../img/t_26.png") 48% 73% no-repeat, url("../img/t_39.png") 50% 72% no-repeat, -o-linear-gradient(top, #f8f8f9 0%, #2989d8 0%, #edf3f7 0%, #feffff 46%);
  background: url("../img/t_33.png") 50% 80% no-repeat, url("../img/t_26.png") 48% 73% no-repeat, url("../img/t_39.png") 50% 72% no-repeat, linear-gradient(to bottom, #f8f8f9 0%, #2989d8 0%, #edf3f7 0%, #feffff 46%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f9', endColorstr='#feffff',GradientType=0 );
  /* IE6-9 */
  bottom: -8%;
  right: -35%;
  -webkit-transform: skew(-15deg, -10deg);
      -ms-transform: skew(-15deg, -10deg);
          transform: skew(-15deg, -10deg);
  border-radius: 5px;
}

.contact__body {
  padding: 70px 0;
}

.contact__head {
  text-align: center;
  margin-bottom: 80px;
}

.contact__head h3 {
  margin: 0 auto;
}

.contact__message {
  display: block;
}

.contact__form {
  width: 100%;
}

.contact__address {
  width: 100%;
}

.form__body {
  margin-bottom: 40px;
}

.form__form input {
  width: 100%;
  height: 72px;
  font-size: 20px;
  color: #999;
  line-height: 28px;
  margin-bottom: 30px;
  -webkit-box-shadow: 5px 11px 28px #999;
          box-shadow: 5px 11px 28px #999;
  border: 1px solid #999;
  border-radius: 7px;
  padding: 30px;
}

.form__form textarea {
  font-size: 20px;
  color: #999;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 5px 11px 18px #999;
          box-shadow: 5px 11px 18px #999;
  border: 1px solid #999;
  border-radius: 7px;
  padding: 30px;
}

.form__caption {
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -1.05px;
  color: #111;
  margin-bottom: 55px;
}

.address__body {
  width: 100%;
}

.address__description {
  color: #5e5858;
  font-size: 18px;
  line-height: 36px;
  text-align: left;
  margin-bottom: 47px;
}

.connection__icon {
  width: 48px;
  height: 48px;
  color: #fff;
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
}

.connection__icon_red {
  background-color: #fe6686;
}

.connection__icon_green {
  background-color: #54d6a1;
}

.connection__icon_orange {
  background-color: #fe9a3f;
}

.connection__about {
  height: 45px;
  margin-bottom: 43px;
  padding-left: 18px;
}

.connection__name {
  font-family: Overpass;
  font-size: 21px;
  font-weight: 700;
  color: #111;
  line-height: 24px;
  letter-spacing: -0.53px;
  margin-bottom: 15px;
}

.connection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection__connect {
  color: #5e5858;
}

.last-update {
  background: url("../img/t_35.png") 3% 5% no-repeat, url("../img/t_36.png") 98% 40% no-repeat, url("../img/t_37.png") 98% 90% no-repeat, url("../img/t_34.png") 1% 70% no-repeat, -o-radial-gradient(80px 40px, circle, #ede0e2 10%, #ebeafa 20%, rgba(255, 255, 255, 0.06) 30%), -o-radial-gradient(150px 120px, circle, #d9e9f5 10%, rgba(255, 255, 255, 0.06) 50%), -o-radial-gradient(top right, circle, #e5d4f7 10%, rgba(255, 255, 255, 0.06) 20%), -o-radial-gradient(60% 95%, circle, #eed9ec 10%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(90% 95%, circle, #eed9ec 10%, rgba(255, 255, 255, 0.06) 15%), #ebeafa;
  background: url("../img/t_35.png") 3% 5% no-repeat, url("../img/t_36.png") 98% 40% no-repeat, url("../img/t_37.png") 98% 90% no-repeat, url("../img/t_34.png") 1% 70% no-repeat, radial-gradient(circle at 80px 40px, #ede0e2 10%, #ebeafa 20%, rgba(255, 255, 255, 0.06) 30%), radial-gradient(circle at 150px 120px, #d9e9f5 10%, rgba(255, 255, 255, 0.06) 50%), radial-gradient(circle at top right, #e5d4f7 10%, rgba(255, 255, 255, 0.06) 20%), radial-gradient(circle at 60% 95%, #eed9ec 10%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 90% 95%, #eed9ec 10%, rgba(255, 255, 255, 0.06) 15%), #ebeafa;
}

.last-update__cover {
  padding-top: 70px;
  padding-bottom: 70px;
}

.last-update__description {
  display: block;
}

.blog-head__button button {
  display: inline-block;
  position: relative;
  background: none;
  width: 114px;
  font-family: Overpass;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.45px;
  margin-bottom: 50px;
}

.blog-head__button button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 81px;
  height: 3px;
  background: #c04ae2;
}

.post {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.post__item {
  width: 100%;
  padding: 47px 53px 58px 39px;
  border: 1px solid #b3beb1;
  border-radius: 18px;
  margin-bottom: 20px;
}

.post__unit {
  font-family: Overpass;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 19px;
  letter-spacing: -0.45px;
}

.post__unit_r {
  color: #fe6686;
}

.post__unit_g {
  color: #54d6a1;
}

.post__unit_o {
  color: #fe9a3f;
}

.post__caption {
  font-family: Overpass;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.6px;
  line-height: 30px;
  color: #111;
  margin-bottom: 50px;
}

.post__text {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 50px;
}

.post__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__image {
  margin-right: 18px;
  width: 42px;
  height: 42px;
}

.post__image img {
  max-width: 100%;
}

.post__author {
  font-family: Overpass;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.53px;
  line-height: 30px;
  color: #111;
}

.post__likes {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
  color: #adb0ba;
}

.footer__body {
  padding: 100px 0 44px 0;
}

.f-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.f-top__block {
  padding: 0 20px;
}

.f-top__block_b {
  max-width: 370px;
  padding: 0 20px 0 0;
}

.f-top__logo {
  margin-bottom: 26px;
}

.f-top__text {
  margin-bottom: 30px;
  text-align: justify;
  color: #5e5858;
  font-size: 18px;
  line-height: 27px;
}

.f-top__form {
  position: relative;
  margin-bottom: 30px;
}

.f-top__input {
  width: 100%;
  padding: 26px 0 26px 18px;
  border-radius: 8px;
  background-color: #f3f9fb;
  font-size: 18px;
  color: #999;
}

.f-top__button {
  position: absolute;
  top: 25%;
  right: 18px;
  font-size: 24px;
  color: #666;
}

.f-top__caption {
  font-family: Overpass;
  font-size: 24px;
  font-weight: 700;
  color: #111;
  margin-top: 10px;
  margin-bottom: 40px;
}

.f-top__list li a {
  font-size: 18px;
  display: block;
  padding-bottom: 24px;
  color: #5e5858;
}

.f-top__list li a:active,
.f-top__list li a:visited {
  color: #5e5858;
}

.f-top__list li a:hover {
  color: #c04ae2;
}

.f-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 212px;
  margin-bottom: 27px;
  font-size: 18px;
  color: #5e5858;
}

.f-contact span {
  padding-left: 30px;
  line-height: 28px;
}

.f-contact i {
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 28px;
}

.f-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-bottom__follow {
  line-height: 26px;
  color: #111;
  font-family: Overpass;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 26px;
  margin-right: 20px;
}

.f-bottom__copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
  color: #666;
  font-size: 18px;
}

.f-bottom__copyright span {
  font-family: Overpass;
  font-weight: 700;
  letter-spacing: -0.45px;
  color: #222;
}

.social {
  padding: 0 10px;
}

@media (min-width: 370px) {
  .header__container {
    line-height: 70px;
  }

  .menu__body {
    margin-top: 0px;
  }
}

@media (min-width: 430px) {
  .f-screen__body h1 {
    font-size: 4.5rem;
    line-height: 85px;
  }
}

@media (min-width: 485px) {
  .image__content {
    text-align: left;
  }

  .image__content img {
    width: 100%;
  }

  .image__content_annie::after {
    width: 90%;
  }

  .image__content_orange::after {
    width: 90%;
  }

  .image__content_phone::after {
    width: 90%;
  }
}

@media (min-width: 560px) {
  .testimonial__image:before {
    content: "";
    width: 254px;
    height: 254px;
    position: absolute;
    z-index: -1;
    background: transparent;
    top: 70%;
    left: -8%;
    border: 6px solid #aae9d1;
    border-top: transparent;
    border-radius: 30px;
    -webkit-transform: skewY(20deg);
        -ms-transform: skewY(20deg);
            transform: skewY(20deg);
  }

  .testimonial__image:after {
    content: "";
    width: 254px;
    height: 28px;
    background: transparent;
    position: absolute;
    z-index: -1;
    top: 63%;
    left: -7%;
    border-top: 6px solid #aae9d1;
    border-radius: 28px;
    -webkit-box-sizing: initial;
            box-sizing: initial;
    overflow: hidden;
  }
}

@media (min-width: 590px) {
  .f-screen__body h1 {
    line-height: 108px;
    font-size: 5.6rem;
  }

  .f-screen__text {
    margin-bottom: 60px;
  }
}

@media (min-width: 610px) {
  .managers__unit_down {
    margin-bottom: 0px;
  }
}

@media (min-width: 624px) {
  .f-bottom__follow {
    margin-right: 58px;
  }

  .f-bottom__copyright {
    text-align: right;
  }
}

@media (min-width: 670px) {
  .f-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 168px;
  }
}

@media (min-width: 745px) {
  .f-screen__cover {
    background: url("../img/h_1.svg") 2% 20% no-repeat, url("../img/h_3.svg") 3% 40% no-repeat, url("../img/h_4.svg") 3% 80% no-repeat, url("../img/h_5.svg") 3% 95% no-repeat, url("../img/h_6.svg") 13% 85% no-repeat, url("../img/h_7.svg") 45% 90% no-repeat, url("../img/h_10.svg") 85% 25% no-repeat, url("../img/h_12.svg") 95% 85% no-repeat, url("../img/h_13.svg") 98% 25% no-repeat, url("../img/h_14.svg") right 15% no-repeat;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

@media (min-width: 750px) {
  .control-business__cover {
    padding-top: 170px;
    padding-bottom: 200px;
  }

  .single {
    margin-bottom: 192px;
  }

  .about-team {
    margin-bottom: 179px;
  }

  .projects__cover {
    padding: 194px 0;
  }
}

@media (min-width: 800px) {
  .testimonial__caption:before {
    content: "";
    position: absolute;
    top: 40%;
    left: -20%;
    width: 80px;
    height: 64px;
    background: url("../img/t_7.png") 0 0 no-repeat;
  }
}

@media (min-width: 820px) {
  .support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 -15px;
    z-index: 2;
  }

  .support__item_2 {
    margin-top: 80px;
  }

  .support__item_3 {
    margin-top: -30px;
  }

  .support__item_5 {
    margin-top: -30px;
  }
}

@media (min-width: 1050px) {
  h2,
  h3,
  h4 {
    font-size: 60px;
    margin-bottom: 100px;
  }

  .contact__body {
    padding: 193px 0;
  }

  .contact__head {
    margin-bottom: 120px;
  }

  .contact__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 470px;
  }

  .contact__address {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .address__body {
    max-width: 485px;
  }

  .last-update__cover {
    padding-top: 188px;
    padding-bottom: 190px;
  }

  .last-update__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .blog-head__button button {
    margin-bottom: 0;
  }

  .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -15px;
  }

  .post__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    max-width: 370px;
    margin: 15px;
  }

  .footer__body {
    padding: 168px 0 64px 0;
  }
}

@media (min-width: 1085px) {
  .f-screen__body {
    padding-top: 232px;
  }

  .button__h {
    z-index: 2;
  }

  .header__body {
    position: relative;
    width: auto;
    height: auto;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    float: right;
    opacity: 1;
    visibility: visible;
  }

  .header__logo {
    margin: 0 -17px;
  }

  .header__burger {
    opacity: 0;
    visibility: hidden;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 -17px;
  }

  .menu__list li a {
    padding: 17px;
  }
}

@media (min-width: 1090px) {
  .single__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -15px;
  }

  .column__item {
    margin: 0 15px;
  }
}

@media (min-width: 1170px) {
  .our-team__managers {
    margin-bottom: 188px;
  }

  .our-team__testimonial {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .testimonial__left {
    margin-bottom: 0;
  }
}

@media (min-width: 1180px) {
  .control-business__cover {
    background: url("../img/t_26.png") 90% 97% no-repeat, url("../img/t_25.png") 97% 99% no-repeat, url("../img/t_19.png") 91% 2% no-repeat, url("../img/t_18.png") 90% 2% no-repeat, url("../img/t_20.png") 3% 10% no-repeat, url("../img/t_21.png") 92% 30% no-repeat, url("../img/t_22.png") 61% 43% no-repeat, -o-radial-gradient(200px 550px, circle, #e9fcfc 2%, rgba(255, 255, 255, 0.06) 10%), -o-radial-gradient(right top, circle, #fff6ee 2%, rgba(255, 255, 255, 0.06) 10%), -o-radial-gradient(center 40%, circle, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%), -o-radial-gradient(center 60%, circle, #e9fcfc 5%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(25% 90%, circle, #e9fcfc 5%, rgba(255, 255, 255, 0.06) 15%), -o-radial-gradient(5% 90%, circle, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%), -o-radial-gradient(90% 90%, circle, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%);
    background: url("../img/t_26.png") 90% 97% no-repeat, url("../img/t_25.png") 97% 99% no-repeat, url("../img/t_19.png") 91% 2% no-repeat, url("../img/t_18.png") 90% 2% no-repeat, url("../img/t_20.png") 3% 10% no-repeat, url("../img/t_21.png") 92% 30% no-repeat, url("../img/t_22.png") 61% 43% no-repeat, radial-gradient(circle at 200px 550px, #e9fcfc 2%, rgba(255, 255, 255, 0.06) 10%), radial-gradient(circle at right top, #fff6ee 2%, rgba(255, 255, 255, 0.06) 10%), radial-gradient(circle at center 40%, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%), radial-gradient(circle at center 60%, #e9fcfc 5%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 25% 90%, #e9fcfc 5%, rgba(255, 255, 255, 0.06) 15%), radial-gradient(circle at 5% 90%, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%), radial-gradient(circle at 90% 90%, #fff2f5 7%, rgba(255, 255, 255, 0.06) 25%);
  }

  .about-team {
    background: url("../img/photo_1.png") 60% top no-repeat, url("../img/photo_2.png") 95% 50% no-repeat;
  }
}

@media (min-width: 1190px) {
  .problem__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .problem__image_r {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .problem__subscribe {
    padding-left: 120px;
  }

  .problem__subscribe_r {
    padding-left: 0px;
    padding-right: 120px;
  }

  .problem__subscribe_r {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .problem__button {
    text-align: left;
  }

  .image__content {
    margin-bottom: 0px;
  }

  .our-team__cover {
    padding: 229px 0 244px 0;
  }

  .managers__unit {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

@media (min-width: 1200px) {
  .f-screen__bg:before {
    background: url("../img/header_img.png") right center/60% no-repeat, -o-radial-gradient(80px 40px, circle, #ede0e2 10%, #ebeafa 20%, rgba(255, 255, 255, 0.06) 30%), -o-radial-gradient(150px 120px, circle, #d9e9f5 10%, rgba(255, 255, 255, 0.06) 50%), -o-radial-gradient(top right, circle, #e5d4f7 10%, rgba(255, 255, 255, 0.06) 20%), -o-radial-gradient(60% 90%, circle, #eed9ec 2%, rgba(255, 255, 255, 0.06) 10%), -o-radial-gradient(90% 90%, circle, #eed9ec 2%, rgba(255, 255, 255, 0.06) 10%);
    background: url("../img/header_img.png") right center/60% no-repeat, radial-gradient(circle at 80px 40px, #ede0e2 10%, #ebeafa 20%, rgba(255, 255, 255, 0.06) 30%), radial-gradient(circle at 150px 120px, #d9e9f5 10%, rgba(255, 255, 255, 0.06) 50%), radial-gradient(circle at top right, #e5d4f7 10%, rgba(255, 255, 255, 0.06) 20%), radial-gradient(circle at 60% 90%, #eed9ec 2%, rgba(255, 255, 255, 0.06) 10%), radial-gradient(circle at 90% 90%, #eed9ec 2%, rgba(255, 255, 255, 0.06) 10%);
  }
}

@media (min-width: 1210px) {
  .support__item_3 {
    margin-top: 180px;
  }

  .support__item_4 {
    margin-top: -150px;
  }

  .support__item_5 {
    margin-top: -90px;
  }
}

@media (min-width: 610px) and (max-width: 1190px) {
  .managers__unit {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}